/* Generale*/
body {
  background-color: white;
  font-family: "TS-Bold";

  /* font-family: TS-Reg, sans-serif; */
}

.container {
  width: 1135px;
  /* border: 5px solid brown; */
  margin: 0 auto;
}
/* ------------------------- */
/* -- HEADER --------------- */
/* ------------------------- */

header {
  width: 1136px;
  border: 5px solid green;
  display: flex;
  gap: 60px;
  align-items: center;
}

header img {
  width: 183px;
  /* margin-top: 23px; */
  object-fit: contain;
}
input {
  width: 300px;
  height: 36px;
  border-radius: 35px;
}
.navigation {
  display: flex;
}
nav {
  display: flex;
  /* border: red 2px solid; */
  align-items: center;
  height: inherit;
}
nav a {
  font-size: inherit;
  text-decoration: none;
  color: inherit;

  text-align: center;
  border: 1px solid #ff5e5e;
}
nav a:hover {
  color: gray;
}

header button {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  width: 130px;
}

/* ------------------------- */
/* -- MAIN --------------- */
/* ------------------------- */
main {
  border: 5px solid blueviolet;
  padding: 40px;
  height: 1000px;
}

h1 {
  display: flex;
  gap: 5px;
  font-size: 50px;
  font-family: TS-Bold;
}

h1 > p:nth-child(1) {
  color: #ff5e5e;
  font-weight: bold;
}
